#instagram-threads-link {
    background-color: #363636;
}

#profile-message-account {
    color: white;
    background: #363636;
}

#profile-follow-account {
    color: white;
    background-color: #0095F6;
}

#profile-posts-tabs {
    margin-top: 3rem;
}

.highlight-circle-border {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid rgba(95, 95, 95, 0.625);
    /* Adjust thickness and color as needed */
    padding: 5px;
    /* Creates spacing between the image and the border */
}

.highlight-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#bottom-spacer {
    min-height: 42px;
}

#profile-picture-large {
    width: 150px;
    height: 150px;
}

#profile-bio-large {
    font-size: 14px;
}

@media (min-width: 768px) {
    .highlight-name {
        font-size: 12px;
        font-weight: bold;
    }

    #instagram-threads-link {
        font-size: 12px;
    }

    .posts-image-row {
        margin-bottom: 0.5rem;
    }
}